@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    outline: 2px solid red;
} */

body {
    background-color:  #fff5d7;
    font-family: 'Libre Franklin', sans-serif;
}

p {
    font-size: 22px;
}

img {
    border: 15px solid #feb300;
}

.steps  {
    background-color: #ffaaab;
    width: 70rem;
}

.steps li {
    font-size: 24px;
}

/*index.html*/

.menu-list {
    display: inline;
}

.menu-list li {
    font-size: 32px;
    height: auto;
    padding: 15px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    text-decoration: none;
    border: 3px solid #7D8CC4;
    width: 650px;
    list-style-type: none;
}

.menu-list li a {
    text-decoration: none;
}

